body {
  display: flex;
  justify-content: center;
  align-items: center;
}
#box {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  height: 280px;
  border: solid black 8px;
}
h1 {
  text-align: center;
}
form {
  text-align: center;
}
